* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* body {
  position: relative;
} */
.main {
  max-width: 1600px;
  margin: auto;
}
.nav-bar {
  position: fixed;
  z-index: 999;
  width: 100%;
  top: 0;
  background-color: #181e4e;
}
.logo-sec {
  max-width: 1600px;
  margin: auto;
  background-color: #181e4e;
}
.logo-content {
  height: 70px;
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: auto;
  padding: 11px 14px;
}
.top-right {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
}
.top-right .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.top-right p {
  color: rgb(255 255 255);
  font-weight: 500;
  text-align: right;
  padding-left: 0.5rem;
  font-family: "DM Sans";
}

.top-right button {
  padding: 9px 24px;
  font-size: 14px;
  line-height: 20px;
  background: transparent;
  border: 1px solid #ffc145;
  color: #ffc145;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
}

.top-right i {
  font-size: 24px;
  color: #f8f8ff;
  cursor: pointer;
  display: none;
}

#toggle-cross {
  display: none;
}
.links {
  width: 100%;
  background: #ffffff;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
}
.navbar-sec {
  background: #ffffff;
  /* border: 1px solid #000000; */
  max-width: 1600px;
  margin: auto;
}
.navbar-items {
  display: flex;
  justify-content: space-between;
  padding: 18px;
  width: 80%;
  margin: auto;
}
.navbar-item {
  display: flex;
  justify-content: space-between;
}
.navbar-item i {
  color: white;
  display: none;
}
.navbar-sec a {
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  list-style: none;
  color: #000000;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 21px;
}
.main-content {
  max-width: 80%;
  margin: auto;
  padding: 0rem 1rem;
}
.txt-sec {
  margin: 10rem 0rem 3rem 0rem;
  padding: 0rem 1.7rem 1.7rem 1.7rem;
}
.txt-sec h3 {
  font-family: "DM Sans";
  line-height: 1.25;
  font-size: 0.875rem;
  line-height: 150%;
  letter-spacing: 7px;
  font-weight: bolder;
  text-transform: uppercase;
  color: rgb(0 102 186);
  padding-top: 2rem;
}
.txt-sec h1 {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 3.75rem;
  line-height: 125%;
  color: #181e4e;
}

.txt-sec p {
  font-family: "DM Sans";
  /* font-style: normal; */
  font-size: 1rem;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  color: #000000;
  padding-top: 6px;
}

.comparison {
  display: flex;
  justify-content: space-between;
  padding-left: 0.5rem;
}
.comp-title,
.comp-title2 {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.comp-title2 {
  gap: 2rem;
}
.comp-title img,
.comp-title2 img {
  width: 7rem;
}
.comp-title .title-content {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.title-content h2 {
  color: rgb(24, 30, 78);
  font-family: "Poppins", sans-serif;
  font-size: 1.875rem;
  font-weight: 700;
  line-height: 45px;
  padding-top: 4px;
  padding-bottom: 4px;
}
.title-content h3 {
  font-family: "Poppins", sans-serif;
  color: rgb(23 23 23);
  font-weight: bold;
  font-size: 1.25rem;
  margin-bottom: 1px;
}

.yellow-star {
  fill: rgb(250, 168, 44);
  stroke: none;
}

.transparent-star {
  fill: rgb(229 231 235);
  /* stroke: none; */
}

.vs-sec {
  background-color: rgb(229 231 235);
  border-radius: 100%;
  width: 6rem;
  height: 6rem;
  position: relative;
  margin-top: 4px;
}
.vs-sec h1 {
  text-align: center;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 1.875rem;
  position: absolute;
  top: 33%;
  left: 27%;
}

.cards-sec {
  display: flex;
  justify-content: space-between;
}
.list-cards {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 2rem 0rem;
  width: 100%;
}
.list-card {
  /* border-color: rgb(229 231 235); */
  border-bottom: 1px solid rgb(229 231 235);
  column-gap: 1.5rem;
  border-left: 0.5rem solid rgb(223 224 228);
}
.list-card-yellow {
  border-left: 0.5rem solid #ffa600;
  border-bottom: 1px solid rgb(229 231 235);
}
.list-card-darkblue {
  border-left: 0.5rem solid #071e3e;
  border-bottom: 1px solid rgb(229 231 235);
}
.list-card-lightblue {
  border-left: 0.5rem solid #00b4ee;
  border-bottom: 1px solid rgb(229 231 235);
}
.list-card-red {
  border-left: 0.5rem solid #b00500;
  border-bottom: 1px solid rgb(229 231 235);
}

.list-card p,
.list-card-yellow p,
.list-card-darkblue p,
.list-card-lightblue p,
.list-card-red p {
  font-weight: 500;
  font-size: 28px;
  padding: 1rem 2rem;
  font-family: "DM Sans", sans-serif;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  column-gap: 1.75rem;
  padding: 4rem 3rem 0rem 3rem;
  row-gap: 1.75rem;
}
.grid-container .item1 {
  background-image: url(//images.ctfassets.net/bete4dit0n31/3ywvnxZYr1TWbIUWPrRaya/0ab68242ae9d71b437f7b83e6512d86a/Rectangle_8093.png);
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 340px;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}
.item1 .overlay {
  background: linear-gradient(180deg, transparent, #000 73.96%);
  padding: 2rem;
  height: 220px;
}
.grid-container h3 {
  z-index: 10;
  font-family: Lato, sans-serif;
  line-height: 2.25rem;
  font-weight: 700;
  font-size: 1.4rem;
  color: #ffffff;
  margin-bottom: 2rem;
}
.grid-container a {
  font-family: Lato, sans-serif;
  line-height: 1.25;
  font-weight: 700;
  font-size: 0.875rem;
  justify-self: end;
  color: #ffffff;
}

.grid-container .item2 {
  background-image: url(//images.ctfassets.net/bete4dit0n31/7pDTp1SbiPev5AI4lumOnq/73243097d802682c561a041a3b535b6a/Group_132700__1_.png);
  background-position: 50%;
  background-size: cover;
  width: 100%;
  min-height: 340px;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  background-repeat: no-repeat;
}

.grid-container .overlay {
  padding: 2rem;
}

.grid-container h4 {
  line-height: 1.625;
  font-size: 1.125rem;
  margin-top: -1rem;
  padding-bottom: 0.5rem;
  color: #ffffff;
}
.grid-container p {
  font-family: DM Sans, sans-serif;
  font-size: 0.8rem;
  margin-top: 0.5rem;
  color: #ffffff;
  width: 50%;
  line-height: 1.25;
  padding-bottom: 2rem;
}

.grid-container .item3 {
  background-image: url(//images.ctfassets.net/bete4dit0n31/16YLdxTZsr5nJZnkJglgY2/9dce532fc4bda843e9af9bbafa49908c/Group_132700__2_.png);
  background-position: 50%;
  background-size: cover;
  width: 100%;
  min-height: 340px;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  background-repeat: no-repeat;
}
.grid-container .item4 {
  background-image: url(//images.ctfassets.net/bete4dit0n31/26S5SdDncc2bfq6W9iFkvb/21e6cd935adaeea109ebc09f5411737e/Rectangle_8103.png);
  background-position: 50%;
  background-size: cover;
  width: 100%;
  min-height: 340px;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  grid-column-start: 1;
  grid-column-end: 3;
  align-self: flex-end;
  background-repeat: no-repeat;
}

.item4 p,
.item7 p,
.item12 p {
  margin-top: -2rem;
  opacity: 0.8;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.625;
}

.grid-container .item5 {
  background-image: url(//images.ctfassets.net/bete4dit0n31/6ICehoiaWgII9oyueJMt15/1cfcaa035bb7f503174001708a8a230b/Group_132700__3_.png);
  background-position: 50%;
  background-size: cover;
  width: 100%;
  min-height: 340px;
  background-repeat: no-repeat;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}
.grid-container .item6 {
  background-image: url(//images.ctfassets.net/bete4dit0n31/6nKM5lN57sTc9WlCR03Bfe/57ba45e7bcaa487650e40e570fb42345/Rectangle_8106.png);
  background-position: 50%;
  background-size: cover;
  width: 100%;
  min-height: 340px;
  background-repeat: no-repeat;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}
.item6 .overlay,
.item9 .overlay {
  background: linear-gradient(180deg, transparent, #000 73.96%);
  padding: 2rem;
  height: 220px;
}
.grid-container .item7 {
  background-image: url(//images.ctfassets.net/bete4dit0n31/7FzNOvq6SxU1o7tL4bd5xp/efe63b505406a3a2392531f263b759ee/Group_132700__5_.png);
  background-position: 50%;
  background-size: cover;
  width: 100%;
  min-height: 340px;
  background-repeat: no-repeat;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  grid-column-start: 2;
  grid-column-end: 4;
}
.item7 h3 {
  width: 70%;
  margin-top: 1rem;
}

.grid-container .item8 {
  background-image: url(//images.ctfassets.net/bete4dit0n31/5u0qAnnugBu6EiM0fvEf4L/555845c72895e43a7d8d0416a28f75d4/Group_132700__6_.png);
  background-size: cover;
  width: 100%;
  min-height: 340px;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  background-position: 50%;
  background-repeat: no-repeat;
}

.item8 p {
  width: 100%;
  margin-top: -1rem;
  font-size: 1.125rem;
  line-height: 1.625;
  margin-bottom: 6rem;
}

.grid-container .item9 {
  background-image: url(//images.ctfassets.net/bete4dit0n31/1q3hyPbwjX7c92x1H4rcmr/e1635140a045ab8ff404c616ef9b0dfb/Group_132519.png);
  background-size: cover;
  width: 100%;
  min-height: 340px;
  background-position: 50%;
  background-repeat: no-repeat;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}
.item9 h3 {
  font-size: 1.3rem;
}
.item9 p {
  margin-top: -1rem;
  font-size: 1.125rem;
  line-height: 1.625;
  width: 100%;
  margin-top: -1rem;
  padding-bottom: 1.5rem;
}
.grid-container .item10 {
  background-image: url(//images.ctfassets.net/bete4dit0n31/2HPptRTzGOBKInVbTf4Hb1/9c79e528c320b94e36f6594411af0d12/Rectangle_8113__1_.png);
  background-size: cover;
  width: 100%;
  min-height: 340px;
  background-position: 50%;
  background-repeat: no-repeat;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}
.item10 .overlay {
  background: linear-gradient(
    180deg,
    rgba(0, 140, 255, 0) 0%,
    rgba(24, 30, 78, 0.8) 99.99%,
    rgba(0, 28, 255, 0.8) 100%
  );
  display: flex;
  flex-direction: column;
}
.item10 .overlay img {
  vertical-align: middle;
    align-self: center;
    padding-bottom: 2rem;
}
.grid-container .item11 {
  background-image: url(//images.ctfassets.net/bete4dit0n31/EWAndEsW0ahiw5qL3ZPQL/faa4f626555702f11ca37b21cb5cf88b/Rectangle_8113__2_.png);
  background-size: cover;
  width: 100%;
  min-height: 340px;
  background-position: 50%;
  background-repeat: no-repeat;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

.item11 .overlay {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 73.96%);
}

.grid-container .item12 {
  background-image: url(//images.ctfassets.net/bete4dit0n31/26S5SdDncc2bfq6W9iFkvb/21e6cd935adaeea109ebc09f5411737e/Rectangle_8103.png);
  background-position: 50%;
  background-size: cover;
  width: 100%;
  min-height: 340px;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  grid-column-start: 2;
  grid-column-end: 4;
  align-self: flex-end;
  background-repeat: no-repeat;
}

/* form section styling  */


.forms {
  width: 100%;
  background-color: rgb(245 245 245);
}
.form-sec {
  max-width: 1600px;
  margin: auto;
  text-align: center;
}
.form-content {
  padding: 4rem 4rem 3rem 4rem;
}
.form-content h4,
.team-content h4 {
  font-family: DM Sans, sans-serif;
  color: rgb(29 78 216);
  letter-spacing: 0.1em;
  line-height: 1.25;
  font-weight: 700;
  font-size: 0.875rem;
  text-align: center;
}

.form-content h1,
.team-content h1 {
  font-family: "Lato", sans-serif;
  color: rgb(27 29 40);
  line-height: 60px;
  font-weight: 900;
  font-size: 2.2rem;
  margin-bottom: 1rem;
  text-align: center;
}

.form-content p {
  font-family: DM Sans, sans-serif;
  color: rgb(102 102 102);
  line-height: 1.75rem;
  font-size: 1.25rem;
  width: 45%;
  margin: auto;
}

.form {
  padding: 2rem 0rem 0rem 0rem;
  width: 46%;
  margin: auto;
}

.form input {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.25rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: rgb(255 255 255);
  border-color: rgb(229 231 235);
  border-width: 1px;
  align-items: center;
  width: 100%;
  display: flex;
  font-family: 'Lato';
  border: none;
  margin: 1rem;
  opacity: 0.7rem;
}
.form input::placeholder {
  opacity: 0.8;
  color: rgb(143, 136, 136);
}
.form .name,
.form .mail,
.form .upload {
  display: flex;
  justify-content: space-between;
}
input[type="text"]:focus {
  outline: 1px solid blue;
}
.upload {
  background-color: #ffffff;
  margin: 1rem;
}
.upload-content {
  display: flex;
  justify-content: space-around;
  padding: 1rem;
  align-items: center;
  border: 1px solid rgba(107, 114, 128, 0.4);
  width: 100%;
}

.upload-content input {
  color: rgb(107 114 128);
  border: 1px solid rgb(107, 114, 128, 0.2);
  width: 40%;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
}

.upload-content input[type="text"]:focus {
  outline: none;
}

.upload-content .or {
  background-color: rgb(229 231 235);
  width: 3rem;
  border-radius: 100%;
  height: 3rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.875rem;
  font-weight: 700;
}

.upload-content button {
  font-family: "DM Sans", sans-serif;
  color: rgb(255 255 255);
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1.25rem;
  text-align: center;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  background-color: rgb(24 30 78);
  cursor: pointer;
  outline: none;
  border: none;
  margin-left: 4rem;
}

.apply-btn {
  padding: 15px 40px;
  line-height: 26px;
  background-color: #ffc145;
  color: #000;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  cursor: pointer;
  border: none;
  margin-top: 2rem;
}


.last-sec {
  max-width: 1600px;
  margin: auto;
}
.team-sec {
  padding: 3rem 0rem;
}
.team-members {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  width: 80%;
  margin: auto;
}
.team-members .icon {
  width: 4rem;
  height: 4rem;
  border: 1px solid gray;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  object-fit: cover;
}
.icon img {
  border-radius: 100%;
}
.icon .country-img {
  position: absolute;
  bottom: 0;
  right: 0;
}
.team-members .member1 {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.team-members h2 {
  font-family: "DM Sans", sans-serif;
  color: rgb(13 13 13);
  line-height: 1.625;
  font-weight: 700;
  font-size: 1.125rem;
  padding-top: 0.5rem;
}

.team-members h5,
.team-members p {
  font-family: "DM Sans", sans-serif;
  color: rgb(107 114 128);
  line-height: 1.25;
  font-weight: 400;
  font-size: 0.75rem;
}
.team-members button {
  background-color: transparent;
  color: #0066ba;
  border: 1px solid #0066ba;
  font-family: DM Sans, sans-serif;
  cursor: pointer;
  width: 70%;
  padding: 6px 11px;
  font-size: 12px;
  line-height: 20px;
  font-weight: 700;
  margin: 1.2rem 0rem;
}

.booking-sec {
  background-color: rgb(24 30 78);
  width: 78%;
  display: flex;
  justify-content: space-between;
  margin: auto;
}

.booking-img img {
  width: 100%;
  object-fit: cover;
  overflow: hidden;
  display: block;
  height: 100%;
}
.booking-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 5rem 0rem 3rem 5rem;
}
.booking-content h1 {
  font-size: 4rem;
  line-height: 1;
  font-family: Lato, sans-serif;
  color: rgb(255 255 255);
  font-weight: 900;
}
.booking-content .yellow {
  color: rgb(250 204 21);
}

.booking-content p {
  font-family: DM Sans, sans-serif;
  color: rgb(255 255 255);
  line-height: 2;
  font-weight: 400;
  font-size: 1.25rem;
  margin-top: 1.5rem;
  width: 80%;
}

.booking-content button {
  background-color: #ffc145;
  color: #000;
  font-family: DM Sans, sans-serif;
  font-weight: 700;
  cursor: pointer;
  width: 35%;
  padding: 1.3rem 1rem;
  outline: none;
  border: none;
  margin: 2rem 0rem;
}

.clients-sec {
  display: flex;
  justify-content: space-between;
  width: 78%;
  margin: auto;
  margin-top: 4rem;
  /* margin-bottom: 1rem; */
  align-items: center;
}

.clients-sec p {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 700;
}
.clients-sec .imgs {
  display: flex;
  gap: 1rem;
}
.clients-sec img {
  /* object-fit: cover; */
  object-position: center;
  width: 8rem;
  height: 2rem;
  filter: grayscale(100);
}
.clients-sec img:hover {
  filter: grayscale(0);
}

.footer-container {
  box-shadow: inset 0 2px 4px 0 rgb(0 0 0/0.05);
  width: 100%;
}
.footer-content {
  max-width: 1600px;
  margin: auto;
}
.footer-sec {
  width: 80%;
  display: flex;
  justify-content: center;
  margin: auto;
  padding: 1rem 4rem;
  flex-direction: column;
  gap: 1rem;
}

.footer-sec img {
  margin: auto;
}

.footer-content {
  display: flex;
  justify-content: space-between;
}

.footer-content h3 {
  font-family: "Lato", sans-serif;
  line-height: 1.5;
  font-weight: 900;
  padding: 8px 0px;
  color: #181e4e;
  font-size: 1em;
}

.footer-content a {
  color: #181e4e;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
  cursor: pointer;
  line-height: 28px;
  font-size: 1em;
  opacity: 0.9;
}
.footer-content p {
  color: #181e4e;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
  cursor: pointer;
  font-size: 1em;
  opacity: 0.8;
}
.footer-content .pages,
.footer-content .pages5 {
  display: flex;
  flex-direction: column;
  width: 20%;
}
.footer-content .pages input,
.footer-content .pages5 input {
  font-size: 11px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  border: 0.5px solid rgb(209 209 209);
  height: 26px;
  margin: 8px 0px;
  outline: none;
}
.footer-content .pages button,
.footer-content .pages5 button {
  color: rgb(24 30 78);
  font-weight: 700;
  line-height: 18px;
  background-color: rgb(231 232 243);
  width: 150px;
  height: 28px;
  cursor: pointer;
  border: none;
  font-size: 14px;
}
.lang {
  display: flex;
  align-items: center;
  width: 50%;
  margin-top: 0.5rem;
}
.lang select {
  padding: 0rem 1rem;
  margin-left: 10px;
  color: rgb(146, 144, 144);
  border: none;
}
.lang select:focus {
  outline: none;
  border: none;
}
.call-sec {
  background-color: #f8f8ff;
  width: 100%;
  border-top: 1px solid rgb(209 209 209);
  border-bottom: 1px solid rgb(209 209 209);
}
.call-content {
  display: flex;
  width: 80%;
  margin: auto;
  padding: 1rem 0rem;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.call-content h1 {
  color: #181e4e;
  font-weight: 800;
  font-size: 27px;
  line-height: 40.5px;
  font-family: Montserrat, sans-serif;
}

.call-content h5 {
  color: #181e4e;
  font-family: DM Sans, sans-serif;
  line-height: 1.25rem;
  font-weight: 500;
  font-size: 0.75rem;
}

.call-content .number {
  font-size: 3rem;
}

.copyright {
  text-align: center;
}
.copyright p {
  font-family: Lato, sans-serif;
  color: rgb(0 0 0 / var(--tw-text-opacity));
  line-height: 1.25;
  font-weight: 400;
  font-size: 0.875rem;
  padding: 1.5rem;
}

/*   Resposive Design   */
@media screen and (max-width: 1280px) {
  .navbar-items {
    white-space: normal;
    overflow-x: hidden;
    column-gap: 1rem;
    width: 100%;
    padding: 18px 24px;
  }
  .comparison {
    gap: 1rem;
  }
  .title-content h2 {
    font-size: 1.2rem;
  }
  .title-content h3 {
    font-size: 0.8rem;
  }
  .comp-title2 {
    gap: 0.5rem;
  }
  .grid-container {
    padding: 0;
  }
  .form-content p {
    width: 75%;
  }
  .form {
    width: 74%;
  }
  .upload-content {
    gap: 1rem;
  }
  .upload-content button {
    margin-left: 0;
  }
  .clients-sec img {
    width: 5rem;
  }
  .call-content {
    width: 80%;
  }
  .footer-sec {
    width: 95%;
  }
}

@media screen and (max-width: 1020px) {
  .nav {
    position: relative;
    margin-top: 0;
  }
  .navbar-sec a {
    color: white;
    text-decoration: none;
  }
  #toggle-cross {
    color: #f8f8ff;
    text-align: end;
    display: block;
    cursor: pointer;
  }
  .navbar-sec {
    height: 100vh;
    background: #071e3e;
    display: none;
  }
  .navbar-items {
    flex-direction: column;
    position: absolute;
    top: 0;
    width: 100%;
    background: #071e3e;
    gap: 3rem;
    padding: 2rem 6rem;
  }
  .navbar-items a {
    color: white;
  }
  .top-right i {
    display: block;
    margin-left: -1rem;
  }
  .navbar-item i {
    display: block;
  }
  .txt-sec {
    margin: 4rem 0rem 1rem 0rem;
    padding: 0rem 1rem 1rem 0rem;
  }
  .comparison {
    flex-direction: column;
    gap: 2rem;
  }
  .comp-title,
  .comp-title2 {
    flex-direction: column;
  }
  .title-content h2 {
    font-size: 1.875rem;
  }
  .title-content h3 {
    font-size: 1.25rem;
  }
  .vs-sec {
    align-self: center;
  }
  .grid-container {
    padding: 0;
    display: flex;
    flex-direction: column;
  }
  .grid-container .item2 {
    width: 102%;
  }
  .booking-content {
    padding: 3rem 0rem 2rem 2rem;
  }
  .booking-content h1 {
    font-size: 3rem;
    font-weight: 800;
  }
  .booking-content p {
    line-height: 1.5;
    font-size: 1rem;
  }
  .booking-content button {
    width: 60%;
  }
  .footer-sec {
    padding: 2rem 4rem;
  }
  .call-content {
    flex-direction: column;
    padding: 2rem 0rem;
  }
  .call-content .number {
    font-size: 1.5rem;
  }
  .clients-sec {
    justify-content: space-around;
    flex-direction: column;
    gap: 2rem;
  }
  .clients-sec .imgs {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    column-gap: 2rem;
    row-gap: 2rem;
  }
  .clients-sec img {
    width: 12rem;
  }
}

@media screen and (max-width: 768px) {
  .logo-content {
    width: 92%;
  }
  .main-content {
    max-width: 90%;
  }
  .top-right .content {
    display: none;
  }
  .top-right button {
    padding: 4px 8px;
    font-size: 11px;
  }
  .navbar-items {
    padding: 2rem 5rem;
  }
  .txt-sec h1 {
    font-size: 3rem;
    line-height: 115%;
  }
  .form {
    width: 100%;
  }
  .form-content {
    padding: 4rem 2rem 2rem 2rem;
  }
  .form-content p {
    width: 100%;
  }
  .form .name,
  .form .mail,
  .form .upload {
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 1rem;
  }
  .form input {
    margin: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    font-size: 1rem;
    line-height: 1.5rem;
  }
  .upload-content {
    flex-direction: column;
  }
  .form-content h1,
  .team-content h1 {
    line-height: 52px;
    font-weight: 800;
    font-size: 2rem;
  }
  .team-members {
    flex-wrap: wrap;
  }
  .booking-sec {
    flex-direction: column;
    width: 90%;
  }
  .booking-content {
    padding: 3rem 0rem 0rem 2rem;
  }
  .clients-sec .imgs {
    column-gap: 3rem;
  }
  .clients-sec img {
    width: 9rem;
  }
  .footer-content {
    flex-wrap: wrap;
    gap: 2rem;
  }
  .footer-content .pages {
    width: 40%;
  }
  .footer-content .pages5 {
    width: 60%;
  }
}

@media screen and (max-width: 480px) {
  .top-right i {
    margin-left: -2rem;
  }
  .navbar-items {
    padding: 2rem 3rem;
  }
  #toggle-cross {
    font-size: 1.5rem;
  }
  .navbar-sec a {
    font-size: 0.7rem;
    line-height: 14px;
  }
  .txt-sec h1 {
    font-size: 2.2rem;
    line-height: 110%;
  }
  .txt-sec p {
    font-size: 20px;
    line-height: 28px;
    padding-top: 4px;
  }
  .comparison {
    padding: 0;
  }
  .list-card p,
  .list-card-yellow p,
  .list-card-darkblue p,
  .list-card-lightblue p,
  .list-card-red p {
    font-size: 26px;
    padding: 1rem;
  }
  .grid-container {
    row-gap: 1rem;
  }
  .grid-container .overlay {
    padding: 2rem 1rem;
  }
  .grid-container h4 {
    font-family: "Lato";
  }
  .grid-container h3 {
    font-family: "Lato", sans-serif;
    line-height: 2rem;
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  .grid-container h3 {
    margin-bottom: 2rem;
  }
  .grid-container a {
    font-size: 1rem;
  }
  .item8 p {
    margin-top: -1rem;
    font-size: 1.2rem;
    line-height: 1.4rem;
  }
  .grid-container p {
    font-size: 1rem;
    width: 60%;
  }

  .clients-sec .imgs {
    column-gap: 1rem;
    row-gap: 1rem;
  }
  .clients-sec img {
    width: 6rem;
  }
  .form-content h1,
  .team-content h1 {
    line-height: 36px;
    font-weight: 800;
    font-size: 1.6rem;
  }
  .form-content p {
    line-height: 1.5rem;
    font-size: 1.1rem;
  }
  .form input {
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 0.8rem;
  }
  .upload {
    margin: 0rem;
  }
  .upload input {
    width: 90%;
  }
  .upload-content button {
    width: 75%;
  }
  .apply-btn {
    font-size: 110%;
  }
  .team-members {
    justify-content: center;
  }
  .team-members .member1,
  .team-members .member2,
  .team-members .member3 {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
  }
  .booking-sec {
    width: 100%;
  }
  .footer-sec {
    width: 100%;
  }
  .footer-sec {
    padding: 2rem;
  }
  .footer-content {
    gap: 1rem;
  }
  .footer-content .pages5 {
    width: 70%;
  }
  .call-content {
    padding: 1rem 0rem;
    gap: 0rem;
  }
  .copyright p {
    font-size: 0.8rem;
    padding: 1rem;
  }
}

@media screen and (max-width: 380px) {
  .logo-content {
    width: 93%;
  }
  .logo-content img {
    width: 7rem;
  }
  .top-right button {
    padding: 5px 6px;
    font-size: 7px;
    line-height: 11px;
  }
  .top-right i {
    width: 2rem;
    font-size: 1.2rem;
  }
  .navbar-items {
    padding: 2rem 1rem;
  }
  .txt-sec h3 {
    font-size: 0.8rem;
  }
  .txt-sec h1 {
    font-size: 2rem;
    line-height: 115%;
  }
  .txt-sec {
    margin: 4rem 0rem 0rem 0rem;
  }
  .txt-sec p {
    font-size: 18px;
    line-height: 24px;
  }
  .title-content h2 {
    font-size: 1.5rem;
    line-height: 24px;
  }
  .title-content h3 {
    font-size: 1rem;
  }
  .list-card p,
  .list-card-yellow p,
  .list-card-darkblue p,
  .list-card-lightblue p,
  .list-card-red p {
    font-size: 22px;
    padding: 12px;
  }
  .comparison {
    gap: 1rem;
  }
  .vs-sec h1 {
    font-size: 1.8rem;
    top: 27%;
    left: 25%;
  }
  .vs-sec {
    width: 5rem;
    height: 5rem;
  }
  .form-content {
    padding: 2rem 1rem 2rem 1rem;
  }
  .form-content h1,
  .team-content h1 {
    line-height: 32px;
    font-size: 1.1rem;
  }
  .form-content p {
    line-height: 1.4rem;
    font-size: 1rem;
  }
  .booking-content h1 {
    font-size: 2rem;
  }
  .booking-content button {
    padding: 1rem 0.5rem;
    margin: 1rem 0rem;
  }
  .clients-sec {
    width: 100%;
    margin-top: 2rem;
  }
  .clients-sec .imgs {
    column-gap: 10px;
    row-gap: 10px;
  }
  .clients-sec img {
    width: 4rem;
  }
  .clients-sec p {
    font-size: 0.7rem;
    line-height: 1.25rem;
    font-weight: 700;
  }
  .footer-sec {
    padding: 1rem;
  }
  .footer-content .pages {
    width: 45%;
  }
  .call-content h1 {
    font-size: 20px;
    line-height: 32px;
  }
  .call-content h5 {
    line-height: 1rem;
    font-weight: 400;
  }
  .copyright p {
    font-size: 0.7rem;
    padding: 1rem;
  }
}
